# Requirements for building tests
babel
fabric
jinja2
translate-toolkit
-e svn+http://code.djangoproject.com/svn/django/trunk@12335#egg=Django
-e git://github.com/jbalogh/django-nose.git@6f060d49ee193a05734704820f3fea92ee1759d2#egg=django-nose
-e git://github.com/jbalogh/jingo.git#egg=jingo
-e git://github.com/jbalogh/test-utils.git#egg=test-utils

