# Requirements for building tests
Django==1.4.1
mock==1.0b1
django-nose==1.1
babel
jinja2
translate-toolkit
-e git://github.com/jbalogh/jingo.git#egg=jingo
-e git://github.com/jbalogh/test-utils.git#egg=test-utils

