# Requirements for using tower
Django==1.4.5
babel==1.3
jinja2
translate-toolkit
-e git://github.com/jbalogh/jingo.git#egg=jingo

# Requirements for running the tests
django-nose==1.1
mock==1.0.1

# Requirements to build the docs
Sphinx
